@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
      <ul>
        <li><a href="@routes.HomeController.index()">Home</a></li>
        <li>Recipes
          <ul>
            <li><a href="#">Create Recipe</a></li>
            <li><a href="#">Show Recipes</a></li>
          </ul>
        </li>
        <li>Ingredients
          <ul>
            <li><a href="@routes.IngredientsController.showCreateForm()">Create Ingredient</a></li>
            <li><a href="@routes.IngredientsController.submit()">Show Ingredients</a></li>
          </ul>
        </li>
      </ul>

      <br>
      <hr>

      @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
